$def with (content)

<html>
<head>
    <title>Gothons From Planet Percal #25</title>
<style>
#header {
    margin: 4px;
    padding: 7px;
}
#logged {
    margin: 0px;
    padding: 0px;
}
header {
    background-color:yellow;
    text-align:center;
    padding:5px;
}
section {
    background-color:green;
    text-align:center;
    padding:10px;
}
footer {
    background-color:red;
    
    text-align:center;
    padding:5px;
}

body {
    border-style: dotted dashed solid double;
    height: 392px;
}
</style>
</head>
<body>

$:content

</body>
</html>
